:root {
  --main-color: #ff0000;
  --secondary-color: #ffffff;
}

* {
  box-sizing: border-box;
}

body * {
  /* border: 1px dotted blue; */
}

body {
  width: 100%;
}

.container {
  width: 1088px;
  margin: 0 auto;
  padding-top: 40px;
}

.banner > * {
  z-index: 100;
}

.banner {
  background-image: url("../images/Image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: fixed;
  display: flex;
  justify-content: center;
  height: 98vh;
  position: relative;
}

.banner::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.2;
}

.logo {
  font: normal normal bold 35px/47px Nunito Sans;
  color: var(--secondary-color);
  text-transform: uppercase;
  height: 47px;
}

.logo img {
  height: 47px;
  margin-top: -5px;
}

.logo span {
  color: var(--main-color);
  font: normal normal 800 35px/47px Nunito Sans;
}

.nav-bar > * {
  z-index: 100;
}

.nav-bar {
  color: var(--secondary-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90px;
  z-index: 100;
}

.nav-bar::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 90px;
  background-color: black;
  opacity: 0.5;
}

.nav-bar li:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.nav-btn ul {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-btn li {
  font: normal normal bold 16px/22px Nunito Sans;
  color: var(--secondary-color);
  text-transform: uppercase;
  padding: 33px 40px;
}

.title h1 {
  font: normal normal 900 90px / 90px Nunito Sans;
  color: var(--secondary-color);
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  margin-top: 254px;
  margin-bottom: 10px;
  text-shadow: 0px 3px 6px #00000040;
}

.title p {
  font: normal normal bold 16px/22px Nunito Sans;
  color: var(--secondary-color);
  text-align: center;
  margin: 30px auto;
}

.btn-section {
  display: flex;
  justify-content: center;
}

.btn-header {
  padding: 22px 55px;
  font: normal normal bold 16px/22px Nunito Sans;
  border: 0;
  border-radius: 40px;
  text-transform: uppercase;
}

.alert-btn {
  background-color: var(--main-color);
  color: var(--secondary-color);
  box-shadow: 0px 3px 6px #ff00004d;
}

.btn-right {
  margin-right: 25px;
}

.info-btn {
  color: var(--main-color);
  background-color: var(--secondary-color);
}

.arrow {
  width: 55px;
  height: 55px;
  background-color: var(--main-color);
  border: 0;
  border-radius: 50%;
  box-shadow: 0px 3px 6px #ff00004d;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 50%;
  bottom: -30px;
  transform: translate(-50%, 0);
}

.arrow img {
  width: 21px;
  height: 22px;
}

.blog {
  background-color: var(--secondary-color);
  margin: 90px auto;
}

.blog-title {
  font: normal normal bold 35px/47px Nunito Sans;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
}

.lines::before,
.lines::after {
  content: "";
  display: inline-block;
  height: 3px;
  width: 50px;
  background-color: var(--main-color);
  box-shadow: 0px 1px 6px #ff00004d;
  position: relative;
  top: 20px;
}

.lines::before {
  margin-right: 10px;
}

.lines::after {
  margin-left: 10px;
}

.blog-article {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 352px;
  height: 516px;
  margin: 0 auto;
}

.blog-article-photo {
  width: 352px;
  height: 234px;
}

.blog-article-title {
  font: normal normal normal 19px/26px Nunito Sans;
  color: #6a6a6a;
  margin-top: 24px;
}

.blog-article-text {
  font: normal normal 300 14px/19px Open Sans;
  color: #6a6a6a;
  width: 260px;
  height: 79px;
  margin-top: 15px;
}

.blog-container {
  display: flex;
}

.article-btn {
  width: 142px;
  height: 40px;
  margin-top: 26px;
  box-shadow: 0px 3px 6px #ff00004d;
  background-color: var(--main-color);
  color: var(--secondary-color);
  font: normal normal bold 14px/19px Nunito Sans;
  border-radius: 40px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.services {
  background-color: #28272c;
}

.service-container {
  display: flex;
}

.service-title {
  font: normal normal bold 35px/47px Nunito Sans;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  color: var(--secondary-color);
  margin-top: 60px;
}

.service-article {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 60px auto;
}

.service-article-photo {
  width: 170px;
  height: 170px;
}

.service-article-title {
  font: normal normal normal 19px/26px Nunito Sans;
  color: var(--secondary-color);
  margin: 15px auto;
}

.service-article-text {
  font: normal normal normal 14px/19px Open Sans;
  color: #b2b2b2;
  width: 231px;
  height: 80px;
  margin-bottom: 10px;
  text-align: center;
}

.contact {
  margin: 60px auto;
}

.contact-title {
  font: normal normal bold 35px/47px Nunito Sans;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
}
.contact-container {
  width: 904px;
  margin: 0 auto;
}

.form-container {
  margin-top: 35px;
  margin-bottom: 20px;
  display: flex;
}

.form-image {
  width: 444px;
  height: 317px;
  margin-right: 16px;
}

.text-area {
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 1px 6px #ff00004d;
  border: 1px solid #ff0000;
  border-radius: 8px;
  width: 440px;
  margin-bottom: 20px;
  font: normal normal normal 14px/16px Nunito Sans;
  color: #b2b2b2;
  display: flex;
  justify-content: flex-start;
}

.message-area {
  height: 140px;
  padding: 12px;
}

input[type="text"],
input[type="email"] {
  padding: 12px;
}

.consent-box {
  font: normal normal 300 10px/14px Open Sans;
  color: #b2b2b2;
  width: 440px;
  display: flex;
  position: relative;
}

input[type="checkbox"] {
  appearance: none;
  position: relative;
  top: 5px;
  height: 22px;
  width: 88px;
  border: 1px solid #d1d1d1;
  border-radius: 8px;
  background: transparent;
  cursor: pointer;
  margin-right: 10px;
}

input[type="checkbox"]:checked {
  background-image: url("../images/Icon\ Check.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.checkbox:checked::after {
}

.form-btn-container {
  display: flex;
  justify-content: flex-end;
}

.form-btn {
  width: 142px;
  height: 40px;
  font: normal normal bold 14px/19px Nunito Sans;
  color: #ff0000;
  background-color: var(--secondary-color);
  box-shadow: 0px 3px 6px #ff00004d;
  border: 1px solid #ff0000;
  border-radius: 40px;
}

footer {
  background: #28272c;
  height: 232px;
}

.footer-logo {
  font: normal normal 800 25px/34px Nunito Sans;
  color: var(--secondary-color);
  text-transform: uppercase;
}

.footer-logo img {
  width: 27px;
  height: 34px;
}

.footer-logo span {
  color: var(--main-color);
  font: normal normal 800 25px/34px Nunito Sans;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 1088px;
  margin: 22px auto;
}

.footer-links {
  font: normal normal bold 14px/19px Nunito Sans;
  text-transform: uppercase;
  color: var(--secondary-color);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-links li:hover {
  color: var(--main-color);
}

.footer-links-left {
  margin-right: 141px;
}

.copyright {
  font: normal normal 300 12px/16px Nunito Sans;
  color: #d1d1d1;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}
